* {
  margin: 0px;
  padding: 0px;
}
.navsec {
  width: 100vw;
  margin: auto;
  position: sticky;
  background-color: white;
  top: 0;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
.navdiv {
  height: 60px;
}
.navimg {
  height: 2.5rem;
  gap: 0.5rem;
}
#cars {
  border: none;
  margin-inline: 25px;
  color: #888888;
}
.navb {
  padding-top: px !important ;
  padding-inline: 25px !important;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #888888;
}
.hurryup {
  position: sticky;
  top: 60px;
  display: flex;
  justify-content: center;
  background: #2f80ed;
  height: 30px;
  color: #fff;
  font-family: ABeeZee;
  color: #fff;
  font-family: ABeeZee;
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.28px;
}
span {
  color: #2f80ed;
}
h1 {
  color: #2b2f34;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.75px;
}
.pone {
  color: #595959;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.36px;
}
.plove {
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  padding-inline: 8px;
  box-shadow: 0px 0px 7px gray;
}
.x {
  color: #2b2f34;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.75px;
}
.heroone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.4;
}
.Featuresimg {
  width: 140%;
}
.cardone {
  height: fit-content;
  width: 320px;
  box-shadow: 10px 10px 8px #888888;
  padding: 15px;
  border-radius: 10px;
}
input {
  border: none;
}
.callframe {
  margin-top: 15px;
  margin-bottom: 25px;
}

.cardbt {
  color: white;
  width: 100%;
  border-radius: 10px;
  font-family: italic;
  background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
  padding-top: 8px;
  padding-bottom: 8px;
}
h2 {
  color: #2b2f34;
  text-align: center;
  font-family: ABeeZee;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.pofcard {
  color: #818d9d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.lastone {
  color: #2f80ed;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.last {
  color: #818d9d;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardbt:hover {
  background-color: linear-gradient(277deg, #2f80ed 100%, #992fed 0%);
  transform: scale(0.9);
}
.lern {
  margin-top: 80px;
  font-family: ABeeZee;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.our {
  color: #2f80ed;
  text-align: center;
  font-family: ABeeZee;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.54px;
}
.Begineer {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
  background: #ecf8ff;
}
.maincard {
  height: fit-content;
  width: 400px;
  box-shadow: 10px 10px 8px #888888;
  background-color: white;
  border-radius: 10px;
  padding: 13px;
  transition: transform 3s linear;
}
.abc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.classp {
  display: flex;
  gap: 2rem;
}
.px {
  background-color: #e0f3ff;
  height: fit-content;
  width: fit-content;
  padding-inline: 10px;
  border-radius: 10px;
}
.py {
  background: #ffeed8;
  height: fit-content;
  width: fit-content;
  padding-inline: 10px;
  border-radius: 10px;
  color: #965400;
}
.un {
  color: #565656;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.starts {
  color: #2b2f34;
  font-family: ABeeZee;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  flex: 1;
  margin-top: 10px;
}

.place {
  display: flex;
  gap: 2rem;
}
.carart {
  display: flex;
  gap: 9rem;
  justify-content: center;
  align-items: center;
}
.box-1 {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.boxx {
  padding-inline: 20px !important;
}
.companyp {
  text-align: center;
  font-family: ABeeZee;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.companyh2 {
  color: #2b2f34;
  text-align: center;
  font-family: ABeeZee;
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.63px;
}
.companyspan {
  color: #2f80ed;
  text-align: center;
  font-family: ABeeZee;
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.63px;
}
.companydiv {
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.36px;
}
.companyone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.companybutton {
  padding: 14px 6px 14px 16px !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}
.companybutton:hover {
  transform: scale(1.1) !important;
}
.maincard:hover {
  transform: scale(1.1);
  border: 1px solid #2f80ed;
}
.card-one {
  height: fit-content;
  width: 380px;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.card-one:hover {
  transform: scale(1.1);
}
.discrip {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.name {
  color: #000;
  font-family: ABeeZee;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
.position {
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 602;
  line-height: 150%;
}
.personinfo {
  display: flex;
  gap: 0.9rem;
}
.link {
  height: 10%;
  width: 10%;
}
.mainimg {
  width: 4rem;
  height: 4rem;
}
.position {
  margin-top: -10px;
}

.footersection {
  display: flex;
  margin-top: 60px;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 100px;
}
.footerfirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerh3 {
  margin-top: 100px;
  background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: ABeeZee;
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.63px;
}
.footerp {
  color: textlabelcolorscharcoal, #595959;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .footersection {
    display: flex;
    flex-direction: column;
  }
  .carart {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .navdiv {
    display: flex;
    flex-direction: column;
  }
}
